<h1>All Bookings</h1>

<% @all_bookings.each do |booking| %>
  <p>
    <%= link_to(booking.date, "/bookings/#{booking.id}") %>
    <%= booking.date %>
    <p>Start time: <%= booking.start_time %></p>
    <p>End time: <%= booking.end_time %></p>
    <p>Tutor: <%= booking.teacher_id%></p>
    <p>Student: <%= booking.student_id%></p>
  </p>

<% end %>
