<h1>Your Lessons</h1>

<p>Date: <%= @booking.date %></p>
<p>Start time: <%= @booking.start_time %></p>
<p>End time: <%= @booking.end_time %></p>
<p>Tutor: <%= @booking.teacher_id%></p>
<p>Student: <%= @booking.student_id%></p>

<div class="controls">
  <%= link_to("Edit this booking", edit_booking_path(@booking)) %>
  <%= link_to("Delete this booking", booking_path(@booking), method: :delete, data: { confirm: "Are you sure?"}) %>
</div>
