<h1>All Users</h1>
<div>
    <%= form_tag(users_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search for a tutor" %>
    <%= submit_tag "Search", :name => nil %>
    <% end %>
</div>

<% @all_users.each do |user| %>
<div>
    <img src="<%= user.image %>">
    <div>
        <ul>
            <li>Name:<%= user.name %></li>
            <li>Hourly rate: $ <%= user.price %></li>
            <li>Location: <%= user.location %></li>
            <li>Tutor for: <%= user.skills %></li>
            <li>Bio: <%= user.bio %></li>
            <li>
                <a class="a-links" <%= link_to("View Profile", "/users/#{user.id}") %></a>
            </li>
        </ul>
    </div>

</div>
<% end %>
