
<div>
  <div>
    <div>
      <div>
        <h1><%= @user.name %></h1>
        <div>
        <%if @user.image %>
          <div class="round">
            <%= image_tag( @user.image ) %>
          </div>
        <%end %>
        </div>

          <ul>
            <li>Name: <%= @user.name %></li>
            <li>Location: <%= @user.location %></li>
            <li>Skills: <%= @user.skills %></li>
            <li>Email: <%= @user.email %></li>
            <li>Bio: <%= @user.bio %></li>
            <li>Learning: <%= @user.learning %></li>
            <li>Local Time: <%= @user.localtime %></li>
          </ul>

        <!-- BOOKINGS  -->

          <div>
            <h2>Book a lesson with <%= @user.name %> </h2>
            <% @all_bookings.each do |booking| %>
              <% if booking.student_id == nil && booking.teacher_id == @user.id %>
                <p>
                  <a href="/bookings/<%= booking.id %>/book">
                    <!-- <#%= booking.to_json %> -->
                  <%= booking.date.strftime("%e %b %y") %> :
                  <%= booking.start_time.strftime("%I:%M %p") %> - <%= booking.end_time.strftime("%I:%M %p") %>
                </a>
                </p>
            <% end %>
            <% end %>
          </div>

          <!-- UPCOMING BOOKINGS -->
          <div>
            <% if @current_user == @user %>
            <h2>Your upcoming lessons</h2>

            <% @all_bookings.each do |booking| %>
              <% if booking.student_id == @current_user.id %>
                <p>
                  <a href="/bookings/<%= booking.id %>/book">

                  <%= booking.date.strftime("%e %b %y") %> :
                  <%= booking.start_time.strftime("%I:%M %p") %> - <%= booking.end_time.strftime("%I:%M %p") %>
                  Tutor <%= booking.teacher.name %>
                  </a>

                </p>
            <% end %>
            <% end %>
            <% end %>
          </div>


          <div>
            <% if @current_user == @user %>
            <h2>Your upcoming tutoring sessions</h2>

            <% @all_bookings.each do |booking| %>
              <% if booking.teacher_id == @current_user.id %>
                <p>
                  <a href="/bookings/<%= booking.id %>/book">
                    <!-- <#%= irb %> -->
                  <%= booking.date.strftime("%e %b %y") %> :
                  <%= booking.start_time.strftime("%I:%M %p") %> - <%= booking.end_time.strftime("%I:%M %p") %>

                </a>

                </p>
                <% end %>
            <% end %>
            <% end %>
          </div>





          <!-- COMMENTS -->

          <div>
            <h2>Add Comment</h2>
              <%= render 'comments/form' %>
          </div>

          <div>
            <h2>Comments</h2>
                <% @user.comments.each do |comment| %>
                <p>
                  <%= comment.user_id %>
                  <%= comment.body %>
                </p>
                <% end %>
          </div>
      <!-- Edit and delete comments -->
            <button>Delete this comment</button>
            <button>Edit this comment</button>




          <!-- Edit and delete profile -->
          <div class="container controls">
            <% if @current_user && @current_user.id == @user.id  %>
              <button type="button" name="action"><%= link_to("Edit profile", "/users/#{@user.id}/edit") %></button>

            <button type="button" name="action"><%= link_to("Delete profile", "/users/#{@user.id}", method: :delete, data: { confirm: "Are you sure?" }) %></button>
          <% end %>
          </div>

        </div>
      </div>
  </div>
</div>
