
<div>
  <div>
    <div>
      <div>
        <h1><%= @user.name %></h1>
        <div>
        <%if @user.image %>
          <div class="round">
            <%= image_tag( @user.image ) %>
          </div>
        <%end %>
        </div>

          <ul>
            <li>Name: <%= @user.name %></li>
            <li>Location: <%= @user.location %></li>
            <li>Skills: <%= @user.skills %></li>
            <li>Email: <%= @user.email %></li>
            <li>Bio: <%= @user.bio %></li>
            <li>Learning: <%= @user.learning %></li>
            <li>Local Time: <%= @user.localtime %></li>
          </ul>

          <div>
            <a href="/bookings/new">Book a lesson with <%= @user.name %></a>
          </div>

          <div>
            <h2>Add Comment</h2>
              <%= render 'comments/form' %>
          </div>

          <h2>Comments</h2>
              <% @user.comments.each do |comment| %>
              <p><%= comment.user_id %>
                <%= comment.body %>
                <%= comment.created_at %></p>
              <% end %>
            </div>


          <div class="container controls">
            <% if @current_user && @current_user.id == @user.id  %>
              <button type="button" name="action"><%= link_to("Edit", "/users/#{@user.id}/edit") %></button>

            <button type="button" name="action"><%= link_to("Delete", "/users/#{@user.id}", method: :delete, data: { confirm: "Are you sure?" }) %></button>
          <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
