<!DOCTYPE html>
<html>
  <head>
    <title>TandemTechApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link rel="stylesheet" href="path/to/easy-autocomplete.min.css"> -->
  </head>

  <body>
    <nav class="z-depth-0">
      <div class="nav-wrapper">
          <a href="/" class="brand-logo">Tandem Tech</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if @current_user %>
                <li><a href="/users">Search for a tutor</a></li>
                <li><a href="/bookings/new">Create a timeslot</a></li>
                <li><%= link_to "Log Out", "/logout", method: :delete %></li>
                <li><a href= "<%= user_path(@current_user) %>">Hi <%= @current_user.name %></a></li>
            <% else %>
              <li><a href="/login">Log In</a></li>
              <li><a href="/users/new">Sign Up</a></li>
            <% end %>
          </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
